<form method="POST">
    <input type="email" name="mail" value="" placeholder="e-mail">
    <input type="pass" name="password" placeholder="Contraseña">
    <input type="submit" value="Login">

</form>